.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(218, 182, 236);
  padding: 10px 20px;
}

.logo {
  width: 100px;
}

.nav {
  width: 500px;
}

.userMenu {
  width: 200px;
}
